@keyframes preloader {
    30% {line-height: 80px;}
    50% {line-height: 200px;}
    90% {line-height: 400px;}
    100% {line-height: 80px;}
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 80px;
    line-height: 80px;
    visibility: visible;
    background: rgb(18, 18, 18);
    font-family: Arial Black;
    animation-name: preloader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.preloader_hidden{
    opacity: 0;
    transition: ease 1s;
    visibility: hidden;
}