*{
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
body{
    background-color: #FCFBFC;
    display: flex;
    justify-content: space-around;
}
h1{
    position: absolute;
    font-size: 50px;
    margin: 0px;
}
.main{
    background-color: #FFFFFF;
    margin-top: 70px;
    width: 48%;
    height: 1200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input{
    width: 40%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 2px black solid;
    border-radius: 10px;
    margin: 20px;
}