*{
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}
html, body{
    height: 100vh;
    overflow: hidden;
}
body{
    background-color: #FCFBFC;
    display: flex;
    justify-content: space-around;
    transition: background-color .4s;
    color: black;
    margin: 0;
}
h1{
    position: absolute;
    font-size: 60px;
    margin: 0px;
}
h2{
    font-size: 60px;
}
.main{
    margin-top: 80px;
    width: 48%;
    height: 85vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    transition: opacity, display 2s;
    overflow: hidden;
}
input{
    width: 45%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 2px black solid;
    border-radius: 10px;
    margin: 20px;
}
#fileContent{
    width: 90%;
    margin: auto; 
    font-size: 28px;
    margin-top: 20px;
    line-height: 40px;
}
.parag h2{
    margin-bottom: 10px;
}
ul{
    font-size: 36px;
    padding: 0px;
    line-height: 70px;
}
@media only screen and (min-height: 920px) and (max-height: 1200px){
    h2{
        font-size: 55px;
    }
    h2{
        margin: 12px;
    }
    #fileContent{
        font-size: 24px;
        line-height: 36px;
    }
    ul{
        line-height: 55px;
    }
}
@media only screen and (max-height: 919px){
    h2{
        font-size: 38px;
        margin: 10px;
    }
    li{
        font-size: 19px;
        font-weight: bold;
    }
    #fileContent{
        font-size: 19px;
        line-height: normal;
        margin-top: 0;
    }
    ul{
        display: grid;
        grid-template-areas: "menu menu";
        line-height: 45px;
    }
}